@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
  height: 100%;
  background-color: white;
  color-scheme: light;
}

@font-face {
  font-family: "Cal Sans";
  font-display: fallback;
  src: url(/fonts/cal-sans.woff2) format('woff2');
}

h1 {
  font-family: "Cal Sans";
}

mark {
  background-color: papayawhip;
}

body { min-height: 100vh; }

#text-div a {
  color: firebrick;
  text-decoration: underline;
}