@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
  height: 100%;
  background-color: white;
  color-scheme: light;
}


h1 {
  font-family: "Cal Sans","Sans-Serif";
}

mark {
  background-color: papayawhip;
}

body { min-height: 100vh; }

#text-div a {
  color: firebrick;
  text-decoration: underline;
}